---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.post-content { 
  text-align: justify; 
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}